@import "../../../../styles/mixins.scss";

.section {
    position: relative;
    overflow: hidden;

    .container {
        text-align: center;
        padding-bottom: 379px;

        @include breakpoint(d) {
            padding-bottom: 145px;
        }


        .title {
            margin-bottom: 84px;
        }

        .news_list {
            @include breakpointMaxPx(1500) {
                width: 610px;
                margin: 0 auto;
            }

            .not_mobile {
                @include breakpointMaxPx(1500) {
                    display: none;
                }
            }

            .mobile {
                display: none;

                @include breakpointMaxPx(1500) {
                    display: initial;
                }
            }

            .news_card {
                text-align: left;
                width: 258px;
                height: 328px;
                background: #F3F3F3;
                border-radius: 15px;
                margin-bottom: 24px;
                padding: 5px;

                &:hover {
                    opacity: 0.8;
                }

                .icon {
                    width: 270px;
                    aspect-ratio: 248/190;
                    object-fit: cover;
                    border-radius: 15px;
                }

                .card_title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-top: 16px;
                    @include exo2;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height, or 143% */

                    color: #000000;
                }

                .card_contents {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-top: 6px;

                    @include exo2;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    /* identical to box height, or 143% */


                    color: #000000;
                }

                .date {
                    margin-top: 18px;

                    @include exo2;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    /* or 143% */


                    color: #000000;
                }
            }
        }

        .more_container {
            display: block;
            margin: 91px auto 0 auto;
            width: fit-content;

            @include breakpointMaxPx(1500) {
                margin-top: 217px;
            }

            .more {
                width: 193px;
                height: 55px;
                border: 3px solid transparent;
                background-origin: border-box;
                background-image: linear-gradient(#000, #000), linear-gradient(#37FFC3, #A291FC);
                background-clip: content-box, border-box;
                border-radius: 28px;

                span {
                    display: inline-block;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 20px;
                    /* identical to box height, or 100% */
                    margin-top: 13px;
                    color: #FFFFFF;
                }

                &:hover {
                    opacity: .5;
                    -webkit-filter: brightness(100%);
                }
            }
        }
    }
}
