@import '../../../styles/mixins.scss';

.preview {
    width: 100%;
    margin-bottom: 96px;

    img {
        width: 100%;
    }
}

.wrap {
    max-width: 736px;
    margin: 0 auto 96px;
    text-align: center;

    @include breakpoint(m) {
        margin-bottom: 64px;
    }
}

.title {
    margin-bottom: 8px;
}
