@import "../../styles/mixins.scss";

footer {
    padding-bottom: 224px;
}

.container {
    text-align: center;
}

.title {
    margin-top: 60px;
}

.link_container {
    margin-top: 60px;

    a {
        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}



.icon {
    width: 81px;
    height: 81px;
    object-fit: contain;
}


.logo_container {
    margin-top: 98px;
}


.info {
    margin-top: 57px;
}

.contents {
    font-weight: 200;
    font-size: 16px;
    line-height: 40px;
    color: #DEDEDE;

    a {
        color: #DEDEDE;
    }

    span {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
