@import '../../../styles/mixins.scss';

.wallet_button {
    @include border(inherit, 37px, 0px, #ffffff);
    background: #FFFFFF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #2A355E;
    float: right;
    width: 284px;
    height: 68px;
    padding-top: 20px;
}