@font-face {
    font-family: "exo2";
    src: url("#{$font-path}/Exo2-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("#{$font-path}/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
